name: Generate release pull request

on: [workflow_dispatch]

jobs:
  generate-pr:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Batch changes
      uses: miniscruff/changie-action@b6d52c80deb236a5b548f8774cd5a18b87da9e9a # v1.0.1
      with:
        version: latest
        args: batch auto

    - name: Merge changes
      uses: miniscruff/changie-action@b6d52c80deb236a5b548f8774cd5a18b87da9e9a # v1.0.1
      with:
        version: latest
        args: merge

    - name: Get the latest version
      id: latest
      uses: miniscruff/changie-action@b6d52c80deb236a5b548f8774cd5a18b87da9e9a # v1.0.1
      with:
        version: latest
        args: latest

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v4
      with:
        title: Release ${{ steps.latest.outputs.output }}
        branch: release/${{ steps.latest.outputs.output }}
        commit-message: Release ${{ steps.latest.outputs.output }}
        body: |
          TODO:
          - [ ] Update [bastionzero/bastionzero.go#libraryVersion](https://github.com/bastionzero/bastionzero-sdk-go/blob/master/bastionzero/bastionzero.go) to `"${{ steps.latest.outputs.output }}"` before merging.
          - [ ] Double check the auto-generated files included in this PR look correct, especially `CHANGELOG.md`.
        
          Automated release PR created by [create-pull-request](https://github.com/peter-evans/create-pull-request) GitHub action.

          When this PR is merged to `master`, a new draft release is created and tagged with ${{ steps.latest.outputs.output }}.

          See the `.changes/${{ steps.latest.outputs.output }}.md` file to preview the release notes.